{% extends 'base.html' %}

{% block content %}


{% for message in messages %}
<div class='ui negative message'>
{{message}}
</div>
{% endfor %}

<div class="search-box">
    <form action="", method="GET">
        <input type="text" name="search" class='ui input'>
        <div>
            <input type="submit" value="Search" class='ui button'>
        </div>
    </form>
</div>

<div class="ui two column centered grid">
    <div class="four column centered row">
        <div class="column" id='answers'>
            {% if not page_obj %}
            <h3>There are no answers yet</h3>
            {% endif %}
          
              {% for ans in page_obj %}
                <div class="ui card">
                    <div class="content">
                        <div class="header">{{ans.question.body|slice:50}}</div>
                        <div class="meta">answered: <a  href='{% url 'check_profile' ans.author.id %}'>{{ans.author}}</a></div>
                        <div class="description">
                            <p>{{ans.body}}</p>
                        </div>
                    </div>
                    <div class='extra content'>
                        <div>
                            <a href={% url 'quest_detail' ans.question.id %}>Answer details</a>
                        </div>
                        <div>
                            {{ans.created_at}}
                        </div>
                    </div>
                    <div class='extra content'>
                        <form method='POST' action={% url 'like_answer' %} id="answer_like">
                            {% csrf_token %}
                            <div class="ui labeled button" tabindex="0">
                                {% if request.user in ans.likes.all %}
                                <button type='submit' name='answer_id' value="{{ans.id}}" class="ui red button">
                                {% else %}
                                <button type='submit' name='answer_id' value="{{ans.id}}" class="ui button">
                                {% endif %}
                                <input type="hidden" name="url" value={{request.path}}>
                                    <i class="heart icon"></i> Like
                                </button>
                                <a class="ui basic label" id="likes_count">
                                    {{ans.likes_count}}
                                </a>
                            </div>
                        </form>
                    </div>
                </div>  
                  <br />
                  <br />  
              {% endfor %}
        </div>
    </div>
  </div>
  <div class='ui two column centered grid'>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class='ui button'>&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class='ui button'>previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class='ui button'>next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class='ui button'>last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock content %}
