{% extends 'base.html' %}
{% block content %}

{% for message in messages %}
<div class='ui negative message'>
{{message}}
</div>
{% endfor %}

<div class="ui items">
    <div class="item">
        <div class="content">
            <a class="header" href='{% url 'check_profile' quest.author.id %}'>{{quest.author}}</a>
            <div class='meta'>
                <h3>{{quest.title}}</h3>
            </div>
            <div class="description">
                <span>{{quest.body}}</span>
            </div>
            <div class="extra">
                Posted : {{quest.created_at}}
            </div>
            
        </div>
    </div>
</div>
<hr />
<br />
{% if user.is_authenticated %}
{% if request.user.id == quest.adressant.id %}
<br/>
<div>
    <form action='' method='post'>{% csrf_token %}
        {{form.body}}
        <input class='ui primary button' type="submit" value="Answer a question">
    </form>
</div>
{% else %}
<div>
    <a href={% url 'quest_create' quest.adressant.id %} class='ui primary button'>
        Ask your question to {{quest.adressant.first_name}}
    </a>
</div>
{% endif %}
{% else %}
<div>
    <a href={% url 'login' %} class='ui button'>
        Sign in or register to answer
    </a>
</div>
{% endif %}
<h3>Answers:</h3>
{% if not quest.answers.all %}
<p>{{quest.adressant.first_name}} haven't given any answer to this question</p>
{% endif %}
{% for ans in quest.answers.all %}
<div class="ui items">
    <div class="item">
        <div class="content">
            <a class="header">{{ans.author}}</a>
            <div class="description">
                <span>{{ans.body}}</span>
            </div>
            <div class="extra">
                Posted : {{ans.created_at}}
            </div>
        </div>
    </div>
</div>

<form method='POST' action={% url 'like_answer' %} id="answer_like">
    {% csrf_token %}
    <div class="ui labeled button" tabindex="0">
        {% if request.user in ans.likes.all %}
        <button type='submit' name='answer_id' value="{{ans.id}}" class="ui red button">
        {% else %}
        <button type='submit' name='answer_id' value="{{ans.id}}" class="ui button">
        {% endif %}
        <input type="hidden" name="url" value={{request.path}}>
            <i class="heart icon"></i> Like
        </button>
        <p class="ui basic label" id="likes_count">
            {{ans.likes_count}}
        </p>
    </div>
</form>
{% endfor %}
{% endblock content %}