{% extends 'base.html' %}
{% block title %}Users | {% endblock title %}

{% block content %}

{% comment %} user profiles block {% endcomment %}

{% for obj in page_obj %}
<div class='ui two column centered grid'>
    <div>
        <br />
            <h3>
                {{obj.first_name}} {{obj.last_name}}
                {% if obj.id == request.user.id %} (you) {% endif %}
            </h3> 
            <a href={% url 'check_profile' obj.id %}> Check profile </a>
        <br />
    </div>
</div>
    {% endfor %}
<br />
<br />
<br />
<br />

{% comment %} pagination block {% endcomment %}
<div class='ui two column centered grid'>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}