{% extends 'base.html' %}
{% block title %}Users | {% endblock title %}

{% block content %}

{% comment %} user profiles block {% endcomment %}

<div class="ui eight column grid">
    {% for obj in page_obj %}
        {% if obj.id|divisibleby:2 %}
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                <div class="ui card">
                    <div class="content">
                        <div class="header">
                            {{obj.first_name}} {{obj.last_name}}
                            {% if obj.id == request.user.id %} (you) {% endif %}
                        </div>
                        <div class="meta">{{obj.email}} &#13;&#10 Occupation: {{obj.town}}</div>
                        <div class="subheader">  
                            <a href={% url 'check_profile' obj.id %}> Check profile </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">
                        {{obj.first_name}} {{obj.last_name}}
                        {% if obj.id == request.user.id %} (you) {% endif %}
                    </div>
                    <div class="meta">{{obj.email}} &#13;&#10 Occupation: {{obj.town}}</div>
                    <div class="subheader">  
                        <a href={% url 'check_profile' obj.id %}> Check profile </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        {% endif %}
    {% endfor %}
</div>
<br />
<br />
<br />
<br />

{% comment %} pagination block {% endcomment %}
<div class='ui two column centered grid'>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}