.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

#search-box {
  box-sizing: border-box;
  width: 100px;
  height: 120px;
  background-color: black;
}