{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'logo/images.png' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
        {% block title %}
        Ask.fm
        {% endblock title %}
    </title>
    <style>
        {% include "style.css" %}
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div id='site-content'>
    {% block content %}
    <p>Welcome to Ask.fm site! </p>
    
    {% endblock content %}
    </div>
    <br/>
    <br/>
    <br/>
    {% include 'footer.html' %}
    
</body>

{% block script %}
{% endblock script %}

</html>